<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AuthZForce PDP Endpoint</display-name>
  <context-param>
    <param-name>debug</param-name>
    <param-value>false</param-value>
  </context-param>
<!--   <listener> -->
<!--     <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class> -->
<!--   </listener> -->
    <servlet>
    <servlet-name>AuthZForce-REST</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.thalesgroup.pdp.core</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthZForce-REST</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>