<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] %logger:%line: %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.thalesgroup" additivity="false" level="TRACE">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.ow2.authzforce" additivity="false" level="TRACE">
        <appender-ref ref="stdout"/>
    </logger>
    <root level="WARN">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
